.custom-navbar {
    background-color:#002d6d !important; 
}

.brand-highlight {
    color: #28a745; 
}
.logo {
    width: 64px;
    height: 32px;
    object-fit: contain; 
}

.logo-section {
    background-color: #f8f9fa; 
    padding: 50px 0; 
    text-align: center;
}

.logo-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000; 
}

.logo-section .brand-highlight {
    color: #28a745; 
}

.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-nav .nav-link:hover {
    color: #d1ecf1 !important; 
}
